@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');
/*  font-family: 'Noto Sans', sans-serif;
    font-family: 'Wix Madefor Display', sans-serif;
    font-family: 'Poppins', sans-serif;
*/

:root{
    --font-family-1: 'Noto Sans', sans-serif;
    --font-family-2: 'Wix Madefor Display', sans-serif;
    --font-family-3: 'Poppins', sans-serif;
    --hr-color: rgba(118, 112, 112, 0.4);
    --h6-color: rgba(17, 17, 17, 0.5);
    --article-color:#1111110D;
}

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body{
    background-color: #f0ede5;
}


header{
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: #f0ede5;
    top: 0;
}

.navbar{
    display: flex;
    align-items: center;
    margin: 0 7.14%;
    height: 80px;
}
.hamburger div{
    width: 26px;
    height: 1px;
    background-color: black;
    margin: 6px 0;
}
.hamburger{
    margin-right: 27px;
}
.navbar h1{
    font-size: 40px;
    font-weight: 900;
    letter-spacing: -0.08em;
    padding: 0 27px;
    font-family: var(--font-family-2);
}
.navbar2{
    display: flex;
    max-width: 1500px;
    width: 100%;
    justify-content: space-between;
    font-family: var(--font-family-2);
    font-weight: bold;
    font-size: 16px;
    align-items: center;
}

.navbar2 span{
    margin: 0px 27px;
    gap:20px;
    display: flex;
    flex-direction: row;
}

.navbar2 a{
    text-decoration: none;
    color: #000000;
}

.navbar2 div{
    background-color: #1111110D;
    width: 66px;
    height: 45.5px;
    border-radius: 4px;
    margin-left: 40px;
}

.navbar2 p{
    padding: 12px 27.5px;
}

.hr{
    height: 100%;
    width: 0.5px;
    background-color: var(--hr-color);
}
hr{
    height: 0.5px;
    width: 100%;
    border: none;
    background-color: var(--hr-color);
}

main{
    padding-top: 80px;
    margin: 0 7.14%;
    margin-bottom: 6.8rem;
}

.main-info{
    margin: 118px 0;
}

main h6{
    font-size: 15px;
    font-family: var(--font-family-2);
    color: var(--h6-color);
    margin-bottom: 10px;
}

main h1{
    font-size: 61.5px;
    font-family: var(--font-family-3);
    margin-right: 25%;
    line-height: 1.06em;
}

main button{
    font-size: 15px;
    font-family: var(--font-family-2);
    font-weight: 600;
    color: white;
    background-color: #000000;
    border: none;
    padding: 11px 22.5px;
    border-radius: 4px;
    width: 71px;
    height: 20px;
    margin-top: 34px;
}

main button:hover{
    background-color: #270f0f0d;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 900;
    transition: 200ms;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #1111110D;
}

.info{
   display: flex;
   align-items: center;
   margin: 13px 0;
   gap: 10px;
}
.info h4{
    font-family: var(--font-family-2);
    font-size: 12.5px;
    color:#22181881;
    font-weight: 300;
    letter-spacing: 0.2px;
}

/* GRID */

.grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
    row-gap: 4.4rem;
}

.grid img {
    width: 100%;
    height: 100%;
}

/* COLUMN SPAN */
.a, .c, .d, .e, .l, .o, .p{
    grid-column: span 1;
}

.b, .f, .b-h{
    grid-column: span 3;
}

.g-section, .h-section, .j, .k, .m, .n, .s, .w, .y, .b-d, .b-e{
    grid-column: span 2;
}

section{
    font-family: var(--font-family-3);
}


/* HEADINGS */

.a h6, .b h6, .e3 h6, .f h6, .g h6, .h1 h6, .h2 h6, .j h6, .k h6, .l h6, .m h6, .n h6, .o h6, .p h6, .s h6, .t h6, .y h6, .w h6, .b-a h6, .b-d h6, .b-e h6, .b-h h6{
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.c h6, .d h6, .e1 h6, .e2 h6, .q h6, .u h6, .x h6, .v h6, .z h6, .b-j h6, .b-b h6, .b-c h6, .b-f h6, .b-g h6, .b-i h6, .b-k h6{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: black;
    line-height: 15px;
}

.e1 h6, .e2 h6, .q h6, .x h6, .v h6, .b-c h6, .b-f h6, .b-g h6, .b-i h6, .b-k h6{
    line-height: 20px;
}

.v h6, .b-k h6, .b-g h6, .b-i h6{
    margin-right: 18px;
}


/* PARAGRAPHS */

.a p{
    font-size: 14px;
    font-weight:600;
}

.b p, .f p, .g p, .j p, .k p, .m p, .n p, .s p, .y p, .w p, .b-d p, .b-e p, .b-h p{
    font-size: 28.5px;
    font-weight:600;
    margin-top: -3px;
    line-height: 40px;
}

.c p, .d p, .u p, .x p, .z p,  .b-j p, .b-b p{
    font-size: 13px;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 20px;
    color: var(--h6-color);
}

.c p, .u p{
    margin-right: 4rem;
}

.e3 p, .h1 p, .h2 p, .l p, .o p, .p p, .t p, .b-a p{
    font-size: 15px;
    font-weight:600;
    margin-right: .2rem;
}



.e-section{
    margin-top: -175px;
}

.e2, .e3, .h-section{
    margin-top: 4.5rem;
}

.g{
    margin-top: -30px;
}

.h-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.j, .p, .w, .x{
    margin-top: -85px;
}
.k{
    margin-top: -20px;
}

.m{
    margin-top: -100px;
}
.s{
    margin-top: -120px;
}
.t, .b-e, .b-g{
    margin-top: -135px;
}
.u{
    margin-top: -320px;
}
.y{
    margin-top: -190px;
}
.z{
    margin-top: -300px;
}
.b-a, .b-b{
    margin-top: -270px;
}
.b-c{
    margin-top: -50px;
}
.b-d{
    margin-top: -230px;
}
.b-j{
    margin-top: -60px;
}
.b-k{
    margin-top: -250px;
}



/* HEIGHTS */
.a img, .l img, .p img, .q img, .t img, .v img, .x img, .b-a img, .b-g img, .b-k img{
    height: 189.76px;
}

.b img{
    height: 342px;
}
.c img{
    height: 310px;
    width: 193px;
}
.d img, .e1 img, .e2 img, .b-c img, .b-f img, .b-i img{
    height: 110px;
}
.f img{
    height: 607px;
}

.g img{
    height: 345.38px;
}

.h1 img{
    height: 159.14px;
}
.h2 img{
    height: 135.86px;
}
.j img{
    height: 225.07px;
}

.k img, .b-b img, .b-d img{
    height: 224.08px;
}

.m img{
    height: 530.68px;
}

.n img, .s img{
    height: 223.88px;
}

.o img{
    height: 242px;
}
.u img, .z img, .b-j img{
    height: 303.61px;
}
.w img{
    height: 531.16px;
}
.y img{
    height: 398.37px;
}
.b-e img{
    height: 327px;
}
.b-h img{
    height: 316.6px;
}


/* FOOTER */
.last-section{
    margin: 0 7.14%;
    font-family: var(--font-family-3);
}

.ls-mid{
    margin: 215px 0;
}

.ls-mid h6{
    font-size: 15px;
    font-weight: 600;
    color: red;
}

.ls-mid p{
    font-size: 43px;
    font-weight: 600;
    margin-right: 25rem;
    line-height: 50px;
}

.ls-mid div{
    display: flex;
    gap: 12px;
}

.ls-mid button{
    font-size: 15px;
    font-family: var(--font-family-2);
    font-weight: 700;
    color: black;
    background-color: var(--article-color);
    border: none;
    padding: 11px 22.5px;
    border-radius: 4px;
    height: 20px;
    margin-top: 34px;
}

.get button{
    width: 91px;
    color: white;
    background-color: #000000;
}

.ls-mid button:hover{
    background-color: #270f0f0d;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 900;
    transition: 200ms;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}

.f-img1{
    width: 121px;
}
.f-img2{
    width: 90px;
}

.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.foot1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 13px;
    font-weight: 600;
}

.foot1 a{
    text-decoration: none;
    color: black;
}
.foot1a, .foot1b{
    display: flex;
    gap: 20px;
}